{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block main %}
<main id="mainEventDetails">
    <article>
        <div>
            <img src="{{ asset("uploads/images/" ~ event.imageName  )}}" alt="image/photo de l'événement {{ event.title }}">
        </div>
        <div>
            <h1> {{ event.title }}</h1>
            <p> {{ event.content }}</p>
            <p>Ajouté le : {{ event.date|date('d/m/Y') }}</p>
        </div>
    </article>

    {% if is_granted("ROLE_USER") %}
        <div></div>
        {{ form_start(form) }}
            {{ form_widget(form)}}
            <button class="btn">Publier mon commentaire</button>
        {{ form_end(form) }}
    {% endif %}

    {% for comment in event.comments %}
    
        <p>{{ comment.content }}</p>
        <p>par : {{ comment.user.firstName }}</p>
        <p>le : {{ comment.date|date('d/m/Y H:i') }}</p>
        {% if app.user and app.user.id == comment.user.id %}
            <div>
                <a href="{{ path("app_editComment", {'event': event.id, 'comment': comment.id}) }}">Modifier</a>
                <form method="POST" onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire ?')" action="{{ path("app_deleteComment", {'event': event.id, 'comment': comment.id}) }}">
                    {# <input type="hidden" name="_method" value="delete"> #}
                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ comment.id)}}">
                    <input id="delete" type="submit" value="Supprimer">
                </form>
            </div>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}
