{% extends 'base.html.twig' %}

{% block title %}Galerie Henri Matisse{% endblock %}

{% block main %}
    <main id="mainHome">
        <div id="hero-banner"></div>
        <section id="s-events">
            <h2>Évènements</h2>
            {# {{ dump(events) }} #}
            <div class="grid">
                {% for event in events %}
                    {% set index = loop.index0 %}
                    <a href="{{ path('details_event' ,{ "id": event.id }) }}">
                        <div class="div{{ 1 + index * 2 }}">
                            <img src="{{ asset("uploads/images/" ~ event.imageName )}}" alt="image en rapport avec l'événement">
                        </div>
                        <div class="div{{ 2 + index * 2 }}">
                            <h4>{{event.title}}</h4>
                            <p>{{event.summary}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {# <div>
                <div id="events-left">
                    <div>
                        <div>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="events-right">
                    <div></div>
                    <div></div>
                </div>
                <div></div>
            </div> #}
        </section>
        <section id="s-discover">
            <h2>Découvrez</h2>
            <a href="{{ path("app_gallery") }}">
                <p>Cliquez pour voir la galerie</p>
            </a>
        </section>
    </main>
{% endblock %}
