{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block main %}
    <main id="mainArtworkDetails">

        <div id="lightbox" class="lightbox hidden">
            <span class="btn-close">&times;</span>
            <img src="" alt="" id="lightbox-image">
            <button id="btn-prev">&#10094;</button>
            <button id="btn-next">&#10095;</button>
        </div>

        <h2>{{ artwork.name }}</h2>
        <p>{{ artwork.description }}</p>
        {% if artwork.gallery.user.alias == null %}
            <p>from {{ artwork.gallery.user.firstName }}</p>
        {% else %}
            <p>Oeuvre de : {{ artwork.gallery.user.alias }}</p>
        {% endif %}
        <div class="border"></div>
        {# <pre>
            {{ dump(artwork) }}
            {{ dump(artwork.artworkImages) }}
        </pre> #}
        <section id="s-artworks">
            {% for image in artwork.artworkImages %}
                <article>
                    <img data-src="{{ asset('uploads/artworkImages/' ~ image.imageName) }}" src="{{ asset('uploads/artworkImages/' ~ image.imageName) }}" class="artwork-image" alt="Photo ou Image représentant : {{ artwork.name }}">
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block JavaScript %}
    <script src="{{ asset("js/lightbox.js") }}"></script>
{% endblock %}