<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
    {% block header %}
        <header>
            <div>
                <a href="{{ path("app_home") }}">
                    <h1>Galerie <span></span> Henri <span></span> Matisse</h1>
                </a>
                <ul>
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path("app_logout") }}">DECONNEXION</a></li>
                    {% else %}
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}" href="{{ path("app_login") }}">CONNEXION</a></li>
                        <li><p>/</p></li>
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}" href="{{ path("app_register") }}">INSCRIPTION</a></li>
                    {% endif %}
                </ul>
            </div>
            <nav>
                <ul>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="{{ path("app_home") }}">ACCUEIL</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_informations' %}active{% endif %}" href="{{ path("app_informations") }}">INFORMATIONS</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_event' %}active{% endif %}" href="{{ path("app_event") }}">ÉVÉNEMENTS</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'app_gallery' %}active{% endif %}" href="{{ path("app_gallery") }}">GALERIE</a></li>
                    {% if is_granted("ROLE_USER") %}
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_profil' %}active{% endif %}" href="{{ path('app_profil', {"id": app.user.id }) }}">PROFIL</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        {# <li><a class="{% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="">ADMIN</a></li> #}
                    {% endif %}
                </ul>
            </nav>
        </header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    {% block footer %}
        <footer>
            <a href="{{ path("app_home") }}">
                <h3>Galerie <span></span> Henri <span></span> Matisse</h3>
            </a>
        </footer>
    {% endblock %}
    {% block JavaScript %}{% endblock %}
    </body>
</html>
