<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
    {% block header %}
        <header>
            <div>
                <a href="{{ path("app_home") }}">
                    <h1>Galerie <span></span> Henri <span></span> Matisse</h1>
                </a>
                <ul>
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path("app_logout") }}">DECONNEXION</a></li>
                    {% else %}
                        <li><a href="{{ path("app_login") }}">CONNEXION</a></li>
                        <li><p>/</p></li>
                        <li><a href="{{ path("app_register") }}">INSCRIPTION</a></li>
                    {% endif %}
                </ul>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path("app_home") }}">ACCUEIL</a></li>
                    <li><a href="">INFORMATIONS</a></li>
                    <li><a href="{{ path("app_event") }}">EVENEMENTS</a></li>
                    <li><a href="{{ path("app_gallery") }}">GALERIE</a></li>
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="{{ path('app_profil') }}">PROFIL</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        {# <li><a href="">ADMIN</a></li> #}
                    {% endif %}
                </ul>
            </nav>
        </header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
        <footer>
            <a href="{{ path("app_home") }}">
                <h3>Galerie <span></span> Henri <span></span> Matisse</h3>
            </a>
        </footer>
    {% endblock %}
    </body>
</html>
